#avatar{
    border-radius: 50%;
}

#main{
    margin-top: 50px;

}

#image{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#content{
    
}

#card{
    background-color: rgba(187, 187, 187, 0.199);
    width: 350px;
    height: 530px;
}

#head{
    text-align: center;
}

#tab{
margin-top: 30px;

}

.data{
    /* color: rgba(0, 153, 255, 0.623); */
    color: rgba(66, 82, 88, 0.63);
}