

<div class="container d-flex flex-row justify-content-center" id="main">
    <mat-card class="example-card" id="card">
        <div class="d-flex flex-column" >
            <img [src]="user.slika" alt="slika"  id="image">
            <div id="content">
                <h1 class="display-5" id="head">{{user.ime}} <br> {{user.prezime}}</h1>
                <div id="tab">
                    <table  class="table" >
                        <tr>
                            <td>Korisničko ime:</td>
                            <td class="data">{{user.kor_ime}}</td>
                        </tr>
                        <tr>
                            <td>Tip korisnika:</td>
                            <td class="data">{{user.tip}}</td>
                        </tr>
                        <tr>
                            <td>Adresa:</td>
                            <td class="data">{{user.adresa}}</td>
                        </tr>
                        <tr>
                            <td>Telefon:</td>
                            <td class="data">{{user.telefon}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td class="data">{{user.email}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-card>

</div>
