<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" role="button" (click)="routerProfile()">
            <img [src]="user.slika" alt="" width="30" height="32" id="avatar">
      </a>
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn btn-primary" (click)="routerHome()">Početna</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="logout()">Odjavi se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="changePassword()">Promena lozinke</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>

<div class="container d-flex flex-row justify-content-center" id="main">
    <mat-card class="example-card" id="card">
        <div class="d-flex flex-column" >
            <img [src]="user.slika" alt="slika" height="150px" width="150px" id="image">
            <div id="content">
                <h1 class="display-5" id="head">{{user.ime}} <br> {{user.prezime}}</h1>
                <div id="tab">
                    <table  class="table" >
                        <tr>
                            <td>Korisničko ime:</td>
                            <td>{{user.kor_ime}}</td>
                        </tr>
                        <tr>
                            <td>Tip korisnika:</td>
                            <td>{{user.tip}}</td>
                        </tr>
                        <tr>
                            <td>Adresa:</td>
                            <td>{{user.adresa}}</td>
                        </tr>
                        <tr>
                            <td>Telefon:</td>
                            <td>{{user.telefon}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{user.email}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-card>

</div>
