
    <div id="main">
        <div class="row">
            <div  class="d-flex flex-row gap-3 " >
                <div class="col-md-4">
                    <label for="name">Naziv knjige</label>
                    <input type="text" class="form-control"id="name" placeholder="Naziv knjige"
                    [(ngModel)]="naziv">
                </div>
                <div class="col-md-4">
                    <label for="author">Autor</label>
                    <input type="text" class="form-control"id="author" placeholder="Autor"
                    [(ngModel)]="autor">
                </div>
            </div>
        </div>
        <div class="row">
            <div  class="d-flex flex-row gap-3 " >
                <div class="col-md-4">
                    <label for="genre">Zanr</label>
                    <input type="text" class="form-control"id="genre" placeholder="Zanr"
                    [(ngModel)]="zanr">
                </div>
                <div class="col-md-3">
                    <label for="publisher">Izdavac</label>
                    <input type="text" class="form-control"id="publisher" placeholder="Izdavac"
                    [(ngModel)]="izdavac">
                </div>
                <div class="col-md-2">
                    <label for="year">Godina izdavanja</label>
                    <input type="text" class="form-control"id="year" placeholder="Godina izdavanja"
                    [(ngModel)]="godina_izdavanja">
                </div>
            </div>
        </div>        
        <div class="row">
            <div  class="d-flex flex-row gap-3 " >
                <div class="col-md-3">
                    <label for="language">Jezik</label>
                    <input type="text" class="form-control"id="language" placeholder="Jezik"
                    [(ngModel)]="jezik">
                </div>
                <div class="col-md-1">
                    <label for="number">Broj uzimanja</label>
                    <input type="text" class="form-control"id="number" placeholder="Broj uzimanja"
                    [(ngModel)]="broj_uzimanja">
                </div>
                <div class="col-md-2">
                    <label for="rating">Prosecna ocena</label>
                    <input type="text" class="form-control"id="rating" placeholder="Prosecna ocena"
                    [(ngModel)]="prosecna_ocena">
                </div>
                <div class="col-md-1">
                    <label for="amount">Na stanju</label>
                    <input type="text" class="form-control"id="amount" placeholder="Na stanju"
                    [(ngModel)]="na_stanju">
                </div>
            </div>
        </div>  
        <div class="row">
            <div  class="d-flex flex-row gap-3 " >
                <div class="form-group">
                    <label class="image-upload-container btn btn-bwm" id="validationCustom06">
                        <label for="validationCustom06">Izaberite sliku</label>
                        <input #imageInput
                        type="file"
                        accept="image/*"
                        (change)="processFile(imageInput)" 
                        class="form-control"
                        name="image">
                    </label>
                </div>      
                <div class="d-flex flex-row gap-3">
                    <div id="btn" *ngIf="moderator">
                        <button class="btn btn-warning " (click)="addBook()" >Dodaj knjigu</button>
                    </div>
                    <div  id="btn" >
                        <button class="btn btn-warning " (click)="suggestBook()" >Predloži knjigu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
        