<mat-card class="example-card" id="card">

   <div class="container" >
   <form class="needs-validation" novalidate>
    <div class="form-row" id="main">
        <div class="col-md-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Stara lozinka</label>
            <input type="password" class="form-control" id="inputPassword3" placeholder="Lozinka"
            [(ngModel)]="password" name="password" required>
            <div class="invalid-feedback">
                Molimo vas unesite lozinku 
            </div>
        </div>
        <div class="col-md-3">
            <label for="inputPassword4" class="col-sm-2 col-form-label">Nova lozinka</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Lozinka"
            [(ngModel)]="password2" name="password2" required>
            <div class="invalid-feedback">
                Molimo vas potvrdite lozinku 
            </div>
        </div>
        <div class="col-md-3">
            <label for="inputPassword5" class="col-sm-2 col-form-label">Potvrdite novu lozinku</label>
            <input type="password" class="form-control" id="inputPassword5" placeholder="Lozinka"
            [(ngModel)]="password3" name="password3" required>
            <div class="invalid-feedback">
                Molimo vas potvrdite lozinku 
            </div>
        </div>
    </div>
    <div *ngIf="showAlert">
        <div class="col-md-3">
            <div class="alert alert-success " *ngIf="passwordChanged">
            {{message}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-danger " *ngIf="!passwordChanged">
            {{message}}
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" name="changePassword" (click)="changePassword()">Promenite lozinku</button>
    </form>
</div>
</mat-card>


