<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img [src]="image" alt="" width="30" height="32" id="avatar">
        </a>
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn btn-primary" (click)="routerHome()">Početna</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="routerLogin()">Prijava</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="routerRegister()">Registracija</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
<div class="container">
    <div class="loginForm">
        <h2 class="active">Dobrodosli</h2>
        <form class="login">
            <input type="text" class="text" name="username" [(ngModel)]="username">
            <span>Username</span>
            <br>
            <br>
            <input type="password" class="text" name="password" [(ngModel)]="password">
            <span>Password</span>
            <br>
            <br>
            <span class="typeSpan">Type</span>
            <select name="type" class="type" [(ngModel)]="type">
                <option value="moderator" >Moderator</option>
                <option value="citalac">Citalac</option>
            </select>
            <br>
            <button class="signInDugme" (click)='login()'>Uloguj se</button>
            <br>
            <div *ngIf='errorMessage' class='errorClass'>{{errorMessage}}</div>
        </form>
        <hr>
    </div>
</div>