<div class="container">
    <button class="btn btn-primary" type="submit" name="changePassword" (click)="changePassword()">Promenite lozinku</button>
    <div class="form-group">
        <label class="image-upload-container btn btn-bwm" id="validationCustom06">
            <label for="validationCustom06">Izaberite sliku</label>
            <input #imageInput
            type="file"
            accept="image/*"
            (change)="processFile(imageInput)" 
            class="form-control"
            name="image">
        </label>
    </div>
    <div>
        <img [src]="imageDB" >
    </div>
</div>

