<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img [src]="userImage" alt="" width="30" height="32" id="avatar">
        </a>
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn btn-primary" (click)="routerHome()">Početna</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="logout()">Odjavi se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="routerRegister()">Registracija</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>

<div class="d-flex justify-content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Knjiga dana</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="dailyBook.slika" alt="Photo of a Shiba Inu" id="cover" >
    <mat-card-content>
      <mat-card-title>{{dailyBook.naziv}}</mat-card-title>
      <mat-card-subtitle>{{dailyBook.autor}}</mat-card-subtitle>
      <mat-card-subtitle>Prosečna ocena:</mat-card-subtitle>
      <p>
        {{dailyBook.prosecna_ocena}}
      </p>
    </mat-card-content>
  </mat-card>
</div>


<div class="container">
    <button class="btn btn-primary" type="submit" name="changePassword" (click)="changePassword()">Promenite lozinku</button>
    <div class="form-group">
        <label class="image-upload-container btn btn-bwm" id="validationCustom06">
            <label for="validationCustom06">Izaberite sliku</label>
            <input #imageInput
            type="file"
            accept="image/*"
            (change)="processFile(imageInput)" 
            class="form-control"
            name="image">
        </label>
    </div>
    
</div>

