
<div class="d-flex justify-content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Knjiga dana</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="dailyBook.slika" alt="Photo of a Shiba Inu" id="cover" >
    <mat-card-content>
      <mat-card-title>{{dailyBook.naziv}}</mat-card-title>
      <mat-card-subtitle>{{dailyBook.autor}}</mat-card-subtitle>
      <mat-card-subtitle>Prosečna ocena:</mat-card-subtitle>
      <p>
        {{dailyBook.prosecna_ocena}}
      </p>
    </mat-card-content>
  </mat-card>
</div>


<div class="container">
    <button class="btn btn-primary" type="submit" name="changePassword" (click)="changePassword()">Promenite lozinku</button>
    <div class="form-group">
        <label class="image-upload-container btn btn-bwm" id="validationCustom06">
            <label for="validationCustom06">Izaberite sliku</label>
            <input #imageInput
            type="file"
            accept="image/*"
            (change)="processFile(imageInput)" 
            class="form-control"
            name="image">
        </label>
    </div>
    
</div>

