#avatar{
    border-radius: 50%;
}


.example-card {
    width: 300px;
    margin-top: 20px;
    background-color: rgba(194, 194, 194, 0.123);

}
  
#cover{
    max-height: 480px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
 
}

#imgDiv{
    margin-top: 0px;
    padding-top: 0px;
}

#head{
    margin-top: 10px;
}

#head2{
    margin-top: 10px;
    margin-left: 50px;
}

#comment{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 20px;
}


#addCom{
    margin-top: 10px;
}

#commentCard{
    width: 100%;
}

#comms{
    margin-top: 10px;
    margin-left: 50px;
}
